[submodule "test/vendor/mocha"]
	path = test/vendor/mocha
	url = https://github.com/mochajs/mocha.git
[submodule "test/vendor/chai"]
	path = test/vendor/chai
	url = https://github.com/chaijs/chai.git
[submodule "test/vendor/blanket"]
	path = test/vendor/blanket
	url = https://github.com/alex-seville/blanket.git
